<template>
    <div>
        <div v-for="(blok, key) in $store.state.content.home.content.body" :key="key">
            <MainHeader
            :blok="blok"
            ></MainHeader>
        </div>
    </div>
</template>
<script lang="ts">
import Vue from 'vue'
import { mapActions } from 'vuex'
import { firestoreDb } from '../boot/firebase'
import MainHeader from 'components/Home/MainHeader.vue'

export default Vue.extend({
    name: 'Home',
    data () {
        return {
            story: {
            content: {
                body: [],
                chapters: []
                }
            }
        }
    },
    components: {
        MainHeader
    },
    methods: {
        ...mapActions('firestoreModule', ['getFireStoreUsers', 'setUsersRef']),
        ...mapActions('content', ['loadHome']),
        getUsers () : void {
            try {
                const db = firestoreDb
                .collection('users')
                db.onSnapshot((userRef) => {
                    userRef.forEach((doc) => {
                        console.log('id: ' + doc.id)
                    })
                })             
            } catch (error) {

            }
        },
        getUsersFromModule () : void {
            try {
             // Get the users here for example
             // eslint-disable-next-line @typescript-eslint/no-unused-vars
             const test = this.getFireStoreUsers()
            } catch (error) {
                
            } 
        },
        getUsersIntoState () : void {
            this.setUsersRef()
        },
        loadHomeState (version) : void {
            this.loadHome(version)
        }
    },
    mounted () {
        // this.getUsers()
        this.getUsersFromModule()
        this.getUsersIntoState()
        this.loadHomeState('published')

    },
    created () {
        // Created event
    }
})
</script>