<template>
    <div>
      <div>
        <div v-for="(blok, key) in story.content.body" :key="key">
          <MainHeader
          :blok="blok"
          ></MainHeader>
        </div>
      </div> 
    </div>
</template>
<script>
import Vue from 'vue'
// 1. Require the Storyblok client
import StoryblokClient from 'storyblok-js-client'
// import { date } from 'quasar'
import MainHeader from 'components/Home/MainHeader.vue'

// 2. Set your token - you will be able to create a new space later.
const token = 'HqjYQMrLdAyJgiqo1tGnWAtt' // public'armtyexCfLZN6LYII0jJHAtt'

// 3. Initialize the client with the preview token so we can access our API easily
// from your space dashboard at https://app.storyblok.com
const storyapi = new StoryblokClient({
  accessToken: token
}) 
export default Vue.extend({
    name: 'Story',
    data () {
        return {
            story: {
            content: {
                body: [],
                chapters: []
            }
          }
        }
    },
    components: {
    MainHeader
    },
    methods: {
      getStoryThree (slug, version) {
         // eslint-disable-next-line @typescript-eslint/restrict-plus-operands
         storyapi.get('cdn/stories/' + slug, {
          version: version
        })
        .then((response) => {
          
          this.$nextTick(() => {
            this.story = response.data.story
          })
        })
        .catch((error) => {
          console.log(error)
        })
      }  
  },
  created () {
    // 4. Initialize the Storyblok Client Bridge to allow us to subscribe to events
    // from the editor itself.
    window.storyblok.init({
      accessToken: token
    })
    window.storyblok.on('change', () => {
      // this will indicate to load the home story, exchange that with the full slug of your content
     // either it is the page URL or hardcoded as in the example below
      this.getStoryThree('story', 'draft')
      console.log('get draft on change')
    })
    window.storyblok.pingEditor(() => {
      if (window.storyblok.isInEditor()) {
       this.getStoryThree('story', 'draft')
        console.log('get draft in editor')
      } else {
        console.log('get published not in editor or change')
        this.getStoryThree('story', 'published')
      }
    })
  }

})
</script>