@import "../settings/spacings";

$o-container-max-widths: (
  s: 32rem,
  m: 64rem,
  l: 96rem
) !default;

/// Default container max width.
/// @type String
$o-container-max-width-default: m !default;

/// Horizontal spacing.
/// @type String
$o-container-spacing-horizontal: m !default;

/// Horizontal centering.
/// @type Boolean
$o-container-center-horizontal: true !default;

@mixin o-container(
  $max-width: 64rem,
  $spacing-horizontal: 1rem,
  $center-horizontal: true
) {
  @if $max-width {
    max-width: $max-width;
  }
  @if $spacing-horizontal {
    padding-right: $spacing-horizontal;
    padding-left: $spacing-horizontal;
  }
  @if $center-horizontal {
    margin-right: auto;
    margin-left: auto;
  }
}

.o-container {
  @include o-container(
    map-get($o-container-max-widths, $o-container-max-width-default),
    setting-spacing($o-container-spacing-horizontal, rem),
    $o-container-center-horizontal
  );
}

@if map-has-key($o-container-max-widths, s) {
  .o-container--s {
    @include o-container(map-get($o-container-max-widths, s), false, false);
  }
}

@if map-has-key($o-container-max-widths, m) {
  .o-container--m {
    @include o-container(map-get($o-container-max-widths, m), false, false);
  }
}

@if map-has-key($o-container-max-widths, l) {
  .o-container--l {
    @include o-container(map-get($o-container-max-widths, l), false, false);
  }
}
