<template>
<div class="q-pa-md row items-start q-gutter-md" v-editable="blok">
  <div class="tileDiv" v-for="(tile, key) in blok.mediaobjecttiles" :key="key">
    <tile :blok="tile"/>
  </div>
</div>
</template>

<script>
import marked from 'marked'
import StoryblokClient from 'storyblok-js-client'
const token = 'HqjYQMrLdAyJgiqo1tGnWAtt'
const storyapi = new StoryblokClient({
  accessToken: token
}) 

export default {
  name: 'ChapterMediaObject',
  props: {
    blok: {
      type: Object,
      required: true
    }
  },
  components: {
   tile: require('components/Chapters/ChapterMediaObjectTile').default
  },
  computed: {
    richtext () {
      // console.log('richtext is ' + this.blok.richtext.content[0].content[0].text)
      return this.blok.richtext ? storyapi.richTextResolver.render(this.blok.richtext) : ''
    },
    text () {
      return marked(this.blok.text)
    },
    secondtext () {
      return marked(this.blok.secondtext)
    },
    secondrichtext () {
      // console.log('second richtext is ' + this.blok.secondrichtext.content[0].content[0].text)
      return this.blok.secondrichtext ? storyapi.richTextResolver.render(this.blok.secondrichtext) : ''
    },
    thirdtext () {
      return marked(this.blok.thirdtext)
    },
    thirdrichtext () {
      // console.log('third richtext is ' + this.blok.thirdrichtext.content[0].content[0].text)
      return this.blok.thirdrichtext ? storyapi.richTextResolver.render(this.blok.thirdrichtext) : ''
    }
  }
}
</script>

<style lang="scss">
@import '../../scss/settings/spacings';
.tileDiv {
  padding-left: 2px;
}
.MyCard {
  width: 100%;
  max-width: 360px;
}
.ChapterMediaObject {
  overflow: hidden;
  width: 100%;
}

.ChapterMediaObject__layout {
  display: flex;
  margin-top: -(setting-spacing(m));
  margin-left: -(setting-spacing(xxl));
  flex-wrap: wrap;

  > * {
    padding-top: setting-spacing(m);
    padding-left: setting-spacing(xxl);
  }

  align-items: center;
}

.ChapterMediaObject__body {
  flex-basis: 24em;
  flex-grow: 1;
}

.ChapterMediaObject__figure {
  margin-right: auto;
  max-width: 450px;
  flex-basis: 16em;
  flex-grow: 1;
  box-sizing: content-box;
}
.MainImage {
  max-width: 350px;
}
.RichText {
  text-align: center;
  font-size: 12px;
}
.MyCard {
  float: right;
}
.MediaDivLeft {
  float: left;
  width: 300px;
  margin-right: 40px;
}
.MediaDivRight {
  float: left;
  width: 270px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.ParagraphCard__image {
  max-height: 200px;
  height: 200px;
  width: 300px;
  max-width: 300px;
  border: 1px solid;
}
</style>
