<template>
    <q-card>
        <q-card-section>
        <div>Home Content</div>
        <div v-editable="blok">
        <h6>{{ blok.headline }}</h6>
        <p>{{ blok.subheading }}</p>
        <p>{{ blok.maindescription }}</p>
        <p>{{ blok.aboutus }}</p>
        </div>
        {{ this.$props.blok }}
        </q-card-section>
    </q-card>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    name: 'HomeHeader',
    props: ['blok']
})
</script>