<template>
  <q-card
    v-editable="blok"
    class="ParagraphCard"
  >
    <q-card-section>
        <span class="IconDiv">
          <q-icon
            size="xl"
            :name="iconName"
            color="white"
          />
          </span>
          <p class="Title">{{ title }}</p>
          <span class="text-weight-light">
            <q-intersection>
              <div class="RichText text-weight-light"
                v-html="richtext"
              />
            </q-intersection>
        </span>
    </q-card-section>
  </q-card>
</template>

<script>
import marked from 'marked'
import StoryblokClient from 'storyblok-js-client'
const token = 'HqjYQMrLdAyJgiqo1tGnWAtt'
const storyapi = new StoryblokClient({
  accessToken: token
})

export default {
  name: 'ParagraphPlainCard',
  props: {
    blok: {
      type: Object,
      required: true
    }
  },
  computed: {
    richtext () {
      // return marked(this.blok.richtext)
      return this.blok.richtext ? storyapi.richTextResolver.render(this.blok.richtext) : ''
    },
    text () {
      return marked(this.blok.text)
    },
    iconName () {
      return this.blok.icon_name
    },
    title () {
      return this.blok.title
    }
  }
}
</script>

<style lang="scss">
@import '../../scss/settings/spacings';

.ParagraphCard {
  
  margin-bottom: 3px;
  background: transparent;
  width: 100%;
  max-width: 550px;
  font-size:16px;
}

.ParagraphCard__image {
  max-height: none;
  width: 100%;
  max-width: 350px;
}

.ParagraphCard__body {
  padding: setting-spacing(s);
}
.RichText {
  text-align: left;
  font-size: 12px;
  color: white;
  opacity: .8;
  padding-top: 10px;
}
.IconDiv {
  float: left;
  padding-right: 10px;
}
.TopDiv {
  float: right;
}
.Title {
  color: white;
  text-align: left;
  padding-left: 5px;
  margin-left: 10px;
}
</style>
