<template>
  <q-card class="MyCard"
    v-editable="blok"
  >
    <q-card-section>
        <div>
          <q-img
            class="rounded-borders ParagraphCard__image"
            :src="blok.image.filename"
          ></q-img>
        </div>
        <div class="text-weight-light">
          <h5 class="ParagraphHeader">{{ blok.headline }}</h5>
          <h6 class="ParagraphHeader">
            {{ blok.text }}
          </h6>
          <span class="RichTextCard">
          <div
            v-html="richtext"
          />
          </span>
        </div>
        <span v-if="hasimages == true">
          <q-intersection>
            <carouselslide :blok="blok" />
          </q-intersection>
        </span>
    </q-card-section>
  </q-card>
</template>

<script>
import marked from 'marked'
import StoryblokClient from 'storyblok-js-client'
const token = 'HqjYQMrLdAyJgiqo1tGnWAtt'
const storyapi = new StoryblokClient({
  accessToken: token
})

export default {
  name: 'ParagraphCard',
  props: {
    blok: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      slide: 1
    }
  },
  components: {
    carouselslide: require('components/controls/carousel').default
  },
  computed: {
    richtext () {
      return this.blok.richtext ? storyapi.richTextResolver.render(this.blok.richtext) : ''
    },
    text () {
      
      return marked(this.blok.text)
    },
    hasimages () {
      // Check to see if this richtext field component has images added
      // If so then we can render them properly
      if (this.blok.images !== null && this.blok.images !== undefined) {
          if (this.blok.images.content !== null && this.blok.images.content !== undefined) {
            console.log('this has images')
            return true
          }
      } 
      console.log('does not have images')
      return false
    }
  },
  methods: {
    resizeImage (image, option) {
    // const option = '500x500'
    // const imagefixed = 'https://a.storyblok.com/f/86878/150x226/9d06193615/productspagegina150.png'
    const imageService = '//img2.storyblok.com/'
    const path = image.replace('https://a.storyblok.com', '')
    // eslint-disable-next-line @typescript-eslint/restrict-plus-operands
    const resultPath = 'https:' + imageService + option + path
    // console.log('https:' + imageService + option + path)
    // return imageService + option + path
    return resultPath
    }
  }
}
</script>

<style lang="scss">
@import '../../scss/settings/spacings';
.MyCard {
  width: 100%;
  max-width: 360px;
}
.ParagraphCard {
 
  margin-bottom: 3px;
}
.ParagraphHeader {
  margin-block-start: 0.33em;
  margin-block-end: 0.33em
}

.ParagraphCard__image {
  max-height: 200px;
  height: 200px;
  width: 300px;
  max-width: 300px;
  border: 1px solid;
}
.Paraimage150 {
  max-height: 226px;
  height: 226px;
  width: 150px;
  max-width: 150px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.ParagraphCard__body {
  padding: setting-spacing(s);
}
.RichTextCard {
  text-align: left;
  font-size: 12px;
  color: #000000;
}
</style>
