<template>
    <q-carousel
              v-model="slide"
              transition-prev="scale"
              transition-next="scale"
              swipeable
              animated
              control-color="primary"
              control-type="regular"
              navigation
              padding
              arrows
              height="300px"
              class="bg-primary text-white shadow-1 rounded-borders"
            > 
          <q-carousel-slide class="SlideBorder" v-for="(image, key) in blok.images.content" :key="key"
            :name="image.attrs.body[0].image.id" 
            :img-src="resizeImage(image.attrs.body[0].image.filename, '286x300')">
            <div class="absolute-bottom custom-caption">
              <div class="text-h2">
                {{ image.attrs.body[0].image.title }}
              </div>
              <div class="text-subtitle1">
               {{ image.attrs.body[0].image.alt }}
              </div>
            </div>
          </q-carousel-slide>
         </q-carousel>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    props: ['blok'],
    data () {
        return {
            slide: 1,
            localArray: []
        }
    },
    methods: {
    resizeImage (image, option) {
        const imageService = '//img2.storyblok.com/'
        const path = image.replace('https://a.storyblok.com', '')
        // eslint-disable-next-line @typescript-eslint/restrict-plus-operands
        const resultPath = 'https:' + imageService + option + path
    return resultPath
    }
  },
  created () {
      try {
        // TODO Get the first image id and put in the data property
        const content = this.$props.blok.images.content
        // get the image id of the first value
        // console.log('prop value' + content)
        this.localArray = content

        const firstItem = content[0]
        // console.log('slide body: ' + firstItem.attrs.body)

        const firstNode = firstItem.attrs.body[0]

        // console.log('first Node ' + firstNode)
        
        // Get the _Uid
        // console.log('_UID ' + firstNode._uid)
        // console.log('Image ' + firstNode.image.id)

        this.slide = firstNode.image.id
      } catch (error) {
          // console.log('error trying to get the UID' + error)
      }
  }
})
</script>
<style lang="scss" scoped>
.custom-caption {
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 6px;
  color: white;
  background-color: rgba(0, 0, 0, .3);
}
.SlideBorder {
  border: 1px solid rgb(88, 78, 78)(0, 0, 0, .3);
}
</style>
