<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
        />
        <q-menu
        transition-show="jump-down"
        transition-hide="jump-up"
      >
      <q-list
      separator 
      bordered
      style="min-width: 200px">
        <q-item class="bg-green-1" clickable :key="index" v-for="(navitem, index) in $store.state.nav.settings.navitem">
          <q-item-section avatar>
            <q-icon :name="navitem.icon" />
          </q-item-section>
          <q-item-section >
            <a class="Link" :href="navitem.link.cached_url">{{ navitem.name }} </a>
          </q-item-section>
        </q-item>
      </q-list>
      </q-menu>
        
        <q-toolbar-title>
          {{ title }}
        </q-toolbar-title>
        <div class="HeaderImage">
          <!-- <img
              src="/statics/images/transparentridgeheadersmallfull.png"
              width="84px"
              height="50px"
          /> -->
          Black Skye Recruitment
        </div>
        <!-- <div>Quasar v{{ $q.version }} Test statics</div> -->
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      
      content-class="bg-dark"
    >
      <q-list
      separator 
      bordered
      >
        <q-item-label
          header
          class="bg-green-1"
        >
          Site Menu
        </q-item-label>
        <q-item class="bg-green-1" clickable :key="index" v-for="(navitem, index) in $store.state.nav.settings.navitem">
          <q-item-section avatar>
            <q-icon :name="navitem.icon" />
          </q-item-section>
          <q-item-section >
            
            <a class="Link" :href="navitem.link.cached_url">{{ navitem.name }} </a>
          </q-item-section>
        </q-item>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>
    <sitefooter></sitefooter>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink'
import sitefooter from 'components/Footer/Footer'
import { mapActions } from 'vuex'

export default {
  name: 'MainLayout',

  components: {
    EssentialLink,
    sitefooter
    // mainmenu
  },
  computed: {
    title () {
      const currentPath = this.$route.fullPath
      if (currentPath === '/') return ''
      if (currentPath === '/home') return ''
      if (currentPath === '/landingpage') return ''
      if (currentPath.includes('blog')) return ''
      return ''
    }
  },
  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: [
      ]
    }
  },
  methods: {
    ...mapActions('nav', ['loadSettings']),
    runmenu () {
      // locadsettings
      this.loadSettings('en')
    }
  },
  mounted () {
    // Run the action
    this.runmenu()
  }
}
</script>
<style lang="scss" scoped>
 .HeaderImage {
   height: 50px;
   background: url('https://a.storyblok.com/f/86878/81x50/d18dc45dc6/transparentridgeheadersmallfull.png') right center;
   background-repeat: no-repeat;
   text-align: center;
   vertical-align: middle;
   padding-top: 15px;
 }
 .Link {
   text-decoration: none;
   color: black;
 }
</style>
