<template>
  <div class="teaser">
    <!--
    The _editable attribute makes the next
    DOM-element clickable so the side by side editor can
    show the right component.
    -->
    <div v-editable="blok">
      <div v-editable="blok" v-for="(item) in blok" :key="item._uid">
        <h6>{{ item.headline }}</h6>
        <p>{{ item.subheading }}</p>
        <p>{{ item.maindescription }}</p>
        <p>{{ item.aboutus }}</p>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    props: ['blok'],
    data () {
      return {
        headline: ''
      }
    },
    methods: {
        extractFromProp () {
          // 
          const block = this.$props.blok
          
        }
    },
    mounted () {
      // 
    }
})
</script>
