<template>
 <div>
    <ChapterLoader :chapters="content.chapters"/>
 </div>
</template>

<script type="ts">

export default {
  name: 'StoryLandingPage',
  components: {
    ChapterLoader: require('components/chapters/ChapterLoader').default
  },
  props: {
    content: {
      required: true,
      type: Object
    }
  }
}
</script>
<style lang="scss" scoped>
 .StoryLandingPage{
    text-align: center;
    font-size: 1.25em;
    padding: 0px;
 }
</style>