<template>
  <div class="teaser">
    <div v-editable="blok">
        <h6>{{ blok.headline }}</h6>
        <p>{{ blok.subheading }}</p>
        <p>{{ blok.maindescription }}</p>
        <p>{{ blok.aboutus }}</p>
    </div>
    <div>Yes</div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    props: ['blok'],
    data () {
      return {
        headline: ''
      }
    },
    methods: {
        extractFromProp () {
          // 
          // const block = this.$props.blok
          
        }
    },
    mounted () {
      // 
    }
})
</script>
