<template>
    <section>
        <div>
            <div class="q-pa-md q-gutter-sm" style="width:100%;">
                <q-breadcrumbs>
                <q-breadcrumbs-el icon="home" to="/home" />
                <q-breadcrumbs-el :label="blok.header" icon="people" />
                </q-breadcrumbs>
            </div>
        </div>
            <q-card-section>
                <q-card class="MyCard text-weight-light" v-editable="blok">
                    <q-card-section class="CardSection">
                    <h6>
                        {{ blok.header }}
                    </h6>
                    <div v-html="description">
                            
                    </div>
                    </q-card-section>
                </q-card>
            </q-card-section>
        <div class="q-pa-md row items-start q-gutter-md">
            <span v-for="staffmember in blok.staffmembers" :key="staffmember._uid">
                <staffminibio 
                    :blok="staffmember">
                </staffminibio>
            </span>
        </div>
    </section>
</template>
<script lang="ts">
import Vue from 'vue'
import marked from 'marked'
import StoryblokClient from 'storyblok-js-client'
const token = 'HqjYQMrLdAyJgiqo1tGnWAtt'
const storyapi = new StoryblokClient({
  accessToken: token
}) 
export default Vue.extend({
    props: ['blok'],
    components: {
        staffminibio: require('components/staff/StaffMiniBio').default
    },
    computed: {
        description () {
            return this.blok.description ? storyapi.richTextResolver.render(this.blok.description) : ''
        }
    }
})
</script>
<style lang="scss" scoped>
.MyCard {
  width: 320px;
  max-width: 320px;
  padding-left: 10px;
  margin-left: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 1px;
  padding-top: 1px;
}
.CardSection {
    padding: 3px;
    margin-top: 1px;
    vertical-align: top;
}
</style>
