<template>
<div>
    <q-card-section>
        <q-card class="my-card" v-editable="blok">
            <q-img class="rounded-borders"
                    width="300px"
                    height="348px"
                    :src="resizeImage(blok.image.filename, '300x348')"
                >
                <div class="text-h5 absolute-bottom text-right">
                    <div class="text-h6">Name: {{ blok.name }}</div>
                    <div class="text-subtitle2">Role: {{ blok.role }}</div>
                </div>
            </q-img>
            <q-card-section 
                class="text-weight-light"
                v-html="bio">
            </q-card-section>
        </q-card>
    </q-card-section>
</div>
</template>
<script>
import Vue from 'vue'
import StoryblokClient from 'storyblok-js-client'
const token = 'HqjYQMrLdAyJgiqo1tGnWAtt'
const storyapi = new StoryblokClient({
  accessToken: token
}) 
export default {
    name: 'StaffMiniBio',
    props: {
    blok: {
      type: Object,
      required: true
    }
  },
    computed: {
        bio () {
            return this.blok.bio ? storyapi.richTextResolver.render(this.blok.bio) : ''
        }
    },
    methods: {
            resizeImage (image, option) {
                const imageService = '//img2.storyblok.com/'
                const path = image.replace('https://a.storyblok.com', '')
                const quality = '/filters:quality(100)'
                const resultPath = 'https:' + imageService + option + quality + path
            return resultPath
            }
    }
}
</script>
<style lang="scss">
@import '../../scss/settings/spacings';
.MyCard {
  width: 100%;
  max-width: 320px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-left: 1px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.my-card {
  width: 100%;
  max-width: 320px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-left: 1px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
</style>
