<template>
<div>
    <div v-for="(blok, key) in blok.addresses" :key="key">
        <companyaddress :blok="blok" />
    </div>
</div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    props: ['blok'],
    components: {
        companyaddress: require('components/ContactUs/CompanyAddress').default
    }
})
</script>
