<template>
    <div v-editable="blok">
        <q-card class="MyCard text-weight-light">
            <q-card-section>
                <q-list bordered separator>
                    <q-item clickable v-ripple>
                        <q-item-section avatar>
                            <q-avatar rounded color="positive" text-color="white" icon="contact_phone" />
                        </q-item-section>
                        <q-item-section>
                            {{ blok.contacttypename }}
                        </q-item-section>
                    </q-item>
                    
                    <q-item clickable v-ripple>
                        <q-item-section avatar>
                            <q-avatar rounded color="primary" text-color="white" icon="call" />
                        </q-item-section>
                        <q-item-section><a :href="MainPhone">{{ blok.mainphone }}</a></q-item-section>
                    </q-item>
                    <q-item clickable v-ripple>
                        <q-item-section avatar>
                            <q-avatar rounded color="primary" text-color="white" icon="call" />
                        </q-item-section>
                        <q-item-section><a :href="MainMobile">{{ blok.mobile }}</a></q-item-section>
                    </q-item>
                    <q-item clickable v-ripple>
                        <q-item-section avatar>
                            <q-avatar rounded color="primary" text-color="white" icon="alternate_email" />
                        </q-item-section>
                        <q-item-section>{{ blok.mainemail }}</q-item-section>
                    </q-item>
                    <q-item clickable v-ripple>
                        <q-item-section avatar>
                            <q-avatar rounded color="primary" text-color="white" icon="alternate_email" />
                        </q-item-section>
                        <q-item-section>{{ blok.salesemail }}</q-item-section>
                    </q-item>
                </q-list>
            </q-card-section>
        </q-card>
    </div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    name: 'ContactType',
    props: ['blok'],
    computed: {
        MainPhone () {
            let tel = 'tel:'
                tel = tel + this.blok.mainphone
            return tel
        },
        MainMobile () {
            let tel = 'tel:'
                tel = tel + this.blok.mobile
            return tel
        }
    }
})
</script>
<style lang="scss" scoped>
.MyCard {
  width: 100%;
  margin-top: 6px;
}
</style>
