<template>
    <div v-editable="blok">
        <div v-editable="blok.imagetopright">
                <q-img 
                :src="blok.imagetopright.filename"
                height="171px"
                width="310px"
                class="rounded-borders"
                >
                    <div class="absolute-full text-subtitle2 flex flex-center">
                        <h6 class="ParagraphHeader">{{ blok.headline }}</h6>

                    </div>
                </q-img>
            </div>
            <div class="DescriptionBlock text-weight-light">
                <span
                v-html="Description"
                ></span>
            </div>
    </div>
</template>
<script>
import StoryblokClient from 'storyblok-js-client'
const token = 'HqjYQMrLdAyJgiqo1tGnWAtt'
const storyapi = new StoryblokClient({
  accessToken: token
}) 
import Vue from 'vue'
export default Vue.extend({
    props: ['blok'],
    computed: {
        Description () {
            return this.blok.description ? storyapi.richTextResolver.render(this.blok.description) : ''
        }
    }
})
</script>
<style lang="scss" scoped>
.ParagraphHeader {
  margin-block-start: 0.33em;
  margin-block-end: 0.33em
}
.DescriptionBlock {
    padding-top: 20px;
}
</style>
