<template>
    <div>
        <div v-for="(blok,key) in blok.contacttypes" :key="key">
            <contacttype :blok="blok" />
        </div>
    </div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    props: ['blok'],
    components: {
        contacttype: require('components/ContactUs/ContactType').default
    }
})
</script>
